html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Gotham Font */
/* Regular */
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham/ttf/GothamBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham/ttf/GothamBookItalic.ttf') format('truetype');
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham/ttf/GothamBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham/ttf/GothamBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham/ttf/GothamLight.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham/ttf/GothamLightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
